@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Barcode+128+Text&display=swap');

html {
    background-color: #eef3f7;
    padding-bottom: 10px;
}

body {
    background-color: #fff;
    width: 800px; /*595
    height: 842px;*/
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 50px;
}

.img {
    background-color: #A6D0DD;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.img img {
    height: inherit;
}

.profile {
    display : flex
}

.info {
    height: 100px;
    margin-left: 54px;
    background-color: #A6D0DD;
    border-radius: 50px 0 0px 50px;
    width: 407px;
    position: absolute;
    right: 355px;
}
.contact-me {
    margin-left: 32px;
}

table {
    margin: 18px 0px 0px 29px;
}

td, th {
    width: 110px;
    text-align: center;
}
span {
    line-height: 13px;
}
#name {
    font-weight: 900;
}
#contact {
    font-size: 12px;
    font-style: italic;
}

.emoji {
    font-size: 26px;
}

.resume {
    font-size: 14px;
    line-height: 1.9em;
    text-align: justify;
}

.italic {
    font-style:italic;
}
.funt {
    font-family: 'Libre Barcode 128 Text', cursive;
}

code {
    font-size: 12px;
}

#things-ive-learnt {
    display: none;
}
.center{
    margin: auto;
    width: 70%;
}

#dac1 {
    display: none;
    background: #eef3f7;
    border-radius: 6px;
    padding: 10px;
    width: 90%;
    margin: auto;
    font-style: italic;
  }
  .custom-btn {
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn {
    border: none;
    background: #A6D0DD;
      background: linear-gradient(0deg,#A6D0DD) 0%,#A6D0DD) 100%);
      color: #fff;
      overflow: hidden;
  }
  .btn:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn:hover{
    opacity: .7;
  }
  .btn:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
